#header h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: blue;
    color: whitesmoke;
    height: 5rem; 
    width: 100%;
}
#content{
    display: flex;
    flex-direction: row;
    height: 90vh;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 80%;
    width:12rem;
}

#searchCard{
    width: 100%;
    display: flex;
    margin-top: 20%;
}

#searchBtn{
    background-color: green;
    margin: 3px;
}

.container{
    width:100%;
    justify-content: left;
}

#cities {
    width: 100%;
}
#content2{
    display: flex;
    flex-direction: column;
}

#currentCity{
    border: 1px solid black;
    width: 52rem;
    height: 35%;
    margin: 0 10px 0 10px;
}
#forecast{
    display: flex;
    flex: row;
    height: 30%;
    justify-content: space-between;
    margin-bottom: 3rem;
}
#forcastCards{
    display:flex;
    flex-direction:column;
    height: 15rem;
    border: 1px solid black;
}

#cityDisplay, .uv{
    display: none;
}

.hideMe{
    visibility: hidden;
}

.bad{
    background-color: red;
    color: antiquewhite;
}
.good {
    background-color: green;
    color: antiquewhite;
}
.ok {
    background-color: yellow;
    color: black;
}

#uv {
    width:fit-content;
}

#pastCities{
    margin-top: 1rem;
}


.bold{
    font-weight: bolder;
    font-size: large;
}